* {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  flex-wrap: wrap;
}
.rightSideContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightSideContainer > h2 {
  margin: 0px;
  padding: 0px;
  color: var(--Colors-Heading, #1e0e62);
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.293px;
  margin-right: 25px;
}
select,
span {
  border: none;
  outline: none;
  margin-right: 10px;
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  /* Buttons / Middle */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
}
ul > li > a {
  margin-right: 15px;
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  /* Buttons / Middle */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 26px; /* 144.444% */
}
ul > button {
  background-color: #25dac5;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 20px;
  color: #ffff;
}
.leftSideContainer > h1 {
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.4px;
  color: #1e0e62;
  align-items: center;
}
.leftSideContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}
.leftSideContainer > form > input {
  width: 300px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 1px solid #ebeaed;
  border-radius: 20px;
  margin-bottom: 20px;
}
.leftSideContainer > form > button {
  width: 330px;
  padding: 10px 45px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #25dac5;
  color: #ffff;
}
.leftSideContainer > form > span {
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  text-align: center;
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  display: flex;
  margin-left: 5px;
}
.heroContainer {
  display: flex;
  padding: 45px;
  justify-content: space-between;
  padding: 2% 8%;
  flex-wrap: wrap;
}
video {
  width: 380px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #66ccff;
}
.cardHead {
  position: relative;
}

.cardHead > i {
  position: absolute;
  left: 164px;
  right: 0;
  bottom: 0;
  top: 85px;
  color: red;
  font-size: 3.2rem;
  cursor: pointer;
}
.cardBody > span {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  /* Text / Article */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
